$primaryColor: #99badd;
$secondaryColor: #fff;
$primaryColor-Transparent: hsla(211, 52%, 62%, 0.808);
$secondaryColor-Transparent: rgba(255, 255, 255, 0.63);
$gloriaHallelujah: "Gloria Hallelujah", cursive;
$sourceSansPro: "Source Sans Pro", sans-serif;

//HEADER
@import "partials/_nav";

//FOOTER
@import "partials/_footer";

//HERO
@import "partials/_hero";

//HOME
@import "partials/_home";

//BIO
@import "partials/_bio";

//WORK
@import "partials/_work";

//CONTACT
@import "partials/_contact";

/* Target viewport sizes less than 576px */
@import "mediaQueries/_mobile";

/* Target a viewport range wider than 575px and narrower than 992px */
@import "mediaQueries/_tablet";