
/************
GENERAL
*************/

body {
    font-family: 'Arimo', sans-serif;
    margin:0;
}

i:hover {
    transform: scale(1.4);
}

figure {
    background-color: lightblue;
    color:white;
}

figcaption {
    font-size: 20px;
    padding:10px;
    text-align: center;
}

/************
NAV
*************/

header {
    width:100%;
    background-color: #99badd;
    margin: 0;
    position: fixed;
    top:0;
}

nav {
    display: flex;
    color:white;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 18px;
}

nav a.selected {
    border-bottom:white solid 6px;
}

 nav a:hover {
    border-bottom:white solid 6px;
}

.backgroundHero {
    width: 100%;
    height: 500px;
    background-image: url("../img/banner.jpg");
    background-repeat: round;
    /*img/banner.jpg*/
    display:flex;
    align-items:center;
    justify-content: center;
    margin: 20px auto auto auto;
    text-align: center;
}

.homeHeading {
    font-size: 50px;
    color: white;
    margin:0;
    background-color:rgba(63, 127, 191, 0.8);
    padding: 50px;
    border-radius: 100%;
}

span {
    color:white;
    font-weight: 400;
    font-size: 30px;
}

/************
FOOTER
*************/

footer {
    background-color: #99badd;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    color:white;
    margin-top: 20px;
}

small {
    margin-right:auto; 
}

footer > a > i {
    text-decoration: none;
    font-size: 40px;
    color: white;
    margin:0 10px 0 10px;
}

.r2hlogo {
    width:40px;
    height:40px;
}

/************
HOME
*************/

figure.hero {
    margin: 10px 0 0 0;
    padding: 0;
}

.clt {
    width:100%;
}

.homeParagraph {
    margin: auto;
    width:60%;
}

.mainHome {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
}

.mainHome > section {
    width: 250px;
    height: 200px;
    border: lightblue solid 5px;
    background-color:  #99badd;
    margin: 10px 10px 20px 10px;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

/*^^^ Display block maybe a widht too for media queries width 80% margin 0 auto*/

.grow:hover {
    transform: scale(1.1);
}

.mainHome > section > h3 {
    color:white;
    min-height: 0;
}

.mainHome > section > p {
    color:white;
    margin:  auto 12px 20px 12px;;
}

.homeButton {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    border: lightblue;
    border-radius: 15px;
    background-color: lightblue;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;

}

.homeButton:hover {
    color:lightblue;
    background-color: white;
}

/************
BIO
*************/

.mainBio {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0 0 0;
}

.mainBio > figure {
    width:30%;
}

.mainBio > section {
    width:30%;
}

.bioImg {
   width:100%;
   border-radius: 50px;
   margin-top: 30px; 
}

.aboutMe {
    font-weight: 700;
    font-size: 40px;
    margin: 0;
}

/************
RESUME
*************/

.mainResume {
    text-align: center;
}

.mainResume__heading {
    margin-top: 100px;
}

.mainResume__heading > h2 {
    font-size: 30px;
    font-weight:700;
}

.resumeHeading3 {
    font-size: 25px;
    font-weight:700;
}

.resumeHeading4 {
    font-size: 20px;
    font-weight: 700;
}

ul {
    list-style-type: none;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resumeButton {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    border: lightblue;
    border-radius: 15px;
    background-color: lightblue;
    padding:10px;
    margin-top: 20px;
    display: block;
    width:300px;
    height:30PX
    
}


/************
GITHUB
*************/

.mainGit {
    margin: 50px 0 0 0;
    width: 100%;
}
.gitHeader {
    margin: 50px 0 0 0;
    width: 100%;
}

.gitContainer {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}

 .gitContainer > figure  {
    width: 40%;
}

.gitContainer > figure > img {
    width:100%;
}

.gitHeader {
    text-align: center;
}

.gitButton {
    padding: 1px;
    color: #99badd;
    text-decoration: none;
    font-style: italic;
}

/************
GALLERY
*************/

.mainResume {
    margin: 50px 0 0 0;
    width: 100%;
}

.resumeContainer {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}

.resumeContainer > figure  {
    width: 19%;
}

.resumeContainer > figure > img {
    width:100%;
    height:auto;
}

/***
.boysimg {
    image-orientation: 180deg;
}
***/

/************
FORM
*************/

.mainForm {
    margin: 100px 0 100px 0;
    display: flex;
    justify-content: center;
}

form {
    max-width:50%;
    padding:10px;
}

form > div > input , form > div > textarea{
    display: block;
    width: 100%;
    margin:20px;
}

form > div > label {
    margin:20px 0 0 0;
}

.formSubmit{
    display: flex;
    justify-content: center;
}

.submit {
    background-color: #99badd;
    width:30%;
    padding: 5px;
}

.whiteText {
    color:white;
}

.commentForm {
    margin-bottom:40px;;
}

.contactBody {
    background-image: url('../img/ram.jpg');
}

input {
    border-radius: 20px;
}

textarea {
    border-radius: 10px;
}


@media screen and (max-width:900px) {

    h1 {
        font-size:15px;
    }
    
    nav > a {
        font-size: 10px;
    }

    .resumeContainer {
        width: 100%;
        display: flex;
        flex-flow: column;
    }

    .resumeContainer > figure  {
        width: 100%;
    }

    .gitContainer {
        width: 100%;
        display: flex;
        flex-flow: column;
    }

    .gitContainer > figure  {
        width: 100%;
    }

    /************
    BIO
    *************/

    .mainBio {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        margin: 50px 0 50px 0;
        width: 100%
    }

    .mainBio > figure {
        width:50%;
    }

    .mainBio > section {
        width:50%;
    }

    .bioImg {
    width:100%;
    border-radius: 50px;
    }


    .contactBody {
        background-image: url('../img/ram.jpg');
        background-position: center;
    }

}



  